
    body {
     
       width: 100vw;
  height: 100vh;
  background: url('world-blood-donor-background-free-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
       
    }
    .header {
      background-image: url('SCD-living-why-donate-blood.gif');
      color: rgb(255, 9, 9);
      padding: 20px;
      text-align: center;
    }
    main {
      text-align: center;
      margin: 50px auto;
      max-width: 600px;
    }
   h1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    text-transform: uppercase;

    background: linear-gradient(to right,#fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
    to{
      background-position: 200%;  
    }
}
    p { font-size: 1.2rem; color: #000000; }
    .btn {
      display: inline-block;
      margin: 15px;
      padding: 12px 25px;
      font-size: 1rem;
      border-radius: 8px;
      text-decoration: none;
      transition: 0.3s;
    }
    .login { background: #000000; color: white; }
    .signup { background: #000000; color: white; }
    .ava{background: #000000; color: white;}
    .btn:hover { 
      opacity: 0.8; 
    }
    .ava:hover{
      background-color: green;
      transition: 1.5s;
    }
    .signup:hover{
      background-color: red;
      transition: 1.5s;
    }
    .login:hover{
      background-color: red;
      transition: 1.5s;
    }
    
  
.over{
  margin-top: 10%;
  
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
